<section class="hero">
  <div class="container">
    <span class="hero__time">Open Everyday 6am - 9pm</span>
    <h1 class="hero__title">A bad day with lunch is better than a good day without it.</h1>
    <div class="hero__nav">
      <button class="btn hero__btn popup__btn">Reserve a table</button>
      <ul class="list social hero__social-list">
        <li class="social__item">
          <a href="#" class="social__btn hero__social-btn">Fb</a>
        </li>
        <li class="social__item">
          <a href="#" class="social__btn hero__social-btn">lg</a>
        </li>
        <li class="social__item">
          <a href="#" class="social__btn hero__social-btn">Tw</a>
        </li>
        <li class="social__item">
          <a href="#" class="social__btn hero__social-btn">Yt</a>
        </li>
      </ul>
    </div>
    <div class="popup">
      <div class="popup__overlay">
        <div class="popup__window">
          <button class="btn popup__close">
            <svg class="popup__close-icon">
              <use xlink:href='img/icons/icons.svg#icon-close'></use>
            </svg>
          </button>
          <form action="#" method="POST" class="popup__form">
            <input type="text" name="Имя" placeholder="Name..." required class="input popup__form-input" />
            <input type="tel" name="Телефон" placeholder="Telephone..." required class="input popup__form-input" />
            <button type="submit" class="btn popup__form-send">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
