<section class="menu">
  <div class="container menu__container">
    <div class="menu__info">
      <div class="menu__item">
        <h3 class="menu__item-title">Woensdag 12/01</h3>
        <div class="menu__item-row">
          <span class="menu__item-name">Salade met Serrano</span>
          <div class="menu__item-elipsis">
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
          </div>
          <span class="menu__item-name">Steak Tartaar</span>
        </div>
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Donderdag 13/01</h3>
        <div class="menu__item-row">
          <span class="menu__item-name">Toast Roquefort</span>
          <div class="menu__item-elipsis">
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
          </div>
          <span class="menu__item-name">Penne met Kip en Prei</span>
        </div>
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Vrijdag 14/01</h3>
        <div class="menu__item-row">
          <span class="menu__item-name">Verrassing van de Chef</span>
          <div class="menu__item-elipsis">
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
          </div>
          <span class="menu__item-name">Penne met Kip en Prei</span>
        </div>
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Vrijdag 15/01</h3>
        <div class="menu__item-row">
          <span class="menu__item-name">Verrassing van de Chef</span>
          <div class="menu__item-elipsis">
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
          </div>
          <span class="menu__item-name">Penne met Kip en Prei</span>
        </div>
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Vrijdag 16/01</h3>
        <div class="menu__item-row">
          <span class="menu__item-name">Verrassing van de Chef</span>
          <div class="menu__item-elipsis">
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
            <span class="menu__item-elips"></span>
          </div>
          <span class="menu__item-name">Penne met Kip en Prei</span>
        </div>
      </div>
    </div>
    <div class="menu__gallery">
      <img src="@img/pictures/menu-2.jpg" alt="Фотография" class="menu__gallery-img menu__gallery-img--top">
      <img src="@img/pictures/menu-1.jpg" alt="Фотография" class="menu__gallery-img menu__gallery-img--bottom">
    </div>
  </div>
</section>
