<section class="reviews">
  <div class="container">
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <svg class="reviews__icon-quoute">
            <use xlink:href="img/icons/icons.svg#icon-quote"></use>
          </svg>
          <h3 class="reviews__slide-title">Goede service, lekker eten, toffe ambiance</h3>
          <p class="reviews__slide-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren.
          </p>
          <h3 class="reviews__slide-name">Alain Heyndricky</h3>
        </div>
        <div class="swiper-slide reviews__slide">
          <svg class="reviews__icon-quoute">
            <use xlink:href="img/icons/icons.svg#icon-quote"></use>
          </svg>
          <h3 class="reviews__slide-title">Goede service, lekker eten, toffe ambiance</h3>
          <p class="reviews__slide-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren.
          </p>
          <h3 class="reviews__slide-name">Alain Heyndricky</h3>
        </div>
        <div class="swiper-slide reviews__slide">
          <svg class="reviews__icon-quoute">
            <use xlink:href="img/icons/icons.svg#icon-quote"></use>
          </svg>
          <h3 class="reviews__slide-title">Goede service, lekker eten, toffe ambiance</h3>
          <p class="reviews__slide-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren.
          </p>
          <h3 class="reviews__slide-name">Alain Heyndricky</h3>
        </div>
      </div>
      <button class="btn reviews__slider-btn reviews__slider-btn--prev">
        <svg class="reviews__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <button class="btn reviews__slider-btn reviews__slider-btn--next">
        <svg class="reviews__slider-btn-icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
